{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["standard", "plugin:react/recommended"],
  "rules": {
    "padded-blocks": 0,
    "curly": ["error", "multi-line"],
    "brace-style": ["error", "stroustrup"],
    "react/prop-types": 0,
    "array-callback-return": 0,
    "no-redeclare": 0,
    "no-shadow": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "react/no-deprecated": 0,
    "no-case-declarations": 0,
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
