.title-text {
  font-size: 1.4rem;
  position: absolute;
  right: 9px;
  top: 7px;
  color: #bc003f;
}

.logo {
  top: 7px;
  height: 30px;
  position: absolute;
  left: 13px;
}

.react-draggable,
.cursor {
  cursor: move;
}

.icon-rotate {
  z-index: 100;
  color: #bc003f;
  position: absolute;
  bottom: 46.5%;
  left: 6%;
}

.icon-delete {
  font-size: 500px;
  z-index: 100;
  color: #bc003f;
  position: absolute;
  bottom: 45.5%;
  right: 0%;
}

.icon-drag {
  z-index: 100;
  color: #bc003f;
  position: absolute;
  bottom: 45%;
  left: 39%;
}

.pedal-on-board-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30%;
  left: 35%;
}

.pedal-on-board {
  position: absolute;
  height: 200px;
  width: 135px;
}

.pedal-add-button {
  position: absolute;
  right: 0;
  height: 48px;
  width: 150px;
}

.pedalboard-modal-image {
  height: 100%;
  width: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pedal-modal-image {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pedal-delete-button {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 299px;
  height: 48px;
  width: 150px;
}

.save-button {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 193px;
  height: 48px;
  width: 150px;
}

.show-history-button {
  z-index: 100;
  float: right;
  position: absolute;
  right: 0;
  top: 140px;
  height: 48px;
  width: 150px;
}
